@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor!</h1>

<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>



@value

<button @onclick="inc">+</button>
<button @onclick="dec">-</button>

@code{
    public int value { get; set; }

    public void inc()
    {
        value++;
    }

    public void dec()
    {
        value--;
    }
}