@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<ul>
    <li>Ajouter un modele (class) : Computer</li>

    <li>Ajouter une classe ComputerService</li>
    <li>Le ComputerService va contenir un CRUD</li>

    <li>Ajouter une page List</li>
    <li>Ajouter un liens dans la navbar vers mapage</li>

    <li>Dans la page list au chargement récupérer les informations du service</li>
    <li>Aouter une methode pour la navigation ( navigate To Details )</li>
    <li>Ajouter un boutton pour la navigation dans la liste</li>


    <li>Ajouter la page details </li>
    <li>Ajouter la page Update ( juste le minimum pas de form)</li>
    <li>Ajouter la page Add ( juste le minimum pas de form)</li>
</ul>

@value

<button @onclick="inc">+</button>
<button @onclick="dec">-</button>

@code{
    public int value { get; set; }

    public void inc()
    {
        value++;
    }

    public void dec()
    {
        value--;
    }
}